@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

#card-body {
    background: white;
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 120px;
    border-radius: 12px;
    position: relative;
    padding: 20px;
}

#symbol-1 {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 80px;
    
}

#number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 110px;
}

#symbol-2 {
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-size: 80px;
    transform: rotate(180deg);
    
}
